:root {
  /* my-custom-variant */
  --SECONDARY-color: rgba( 227, 186, 143, 1 ); /* brand secondary color */
  --MAIN-TOPBAR-BORDER-color: rgba( 227, 186, 143, 1 ); /* border color between topbar and content */
  --MAIN-LINK-color: rgba( 227, 186, 143, 1 ); /* link color of content */
  --MAIN-LINK-HOVER-color: rgba( 227, 186, 143, .5 ); /* hoverd link color of content */
  --MAIN-BG-color: rgba( 255, 255, 255, 1 ); /* background color of content */
  --MAIN-TEXT-color: rgba( 50, 50, 50, 1 ); /* text color of content and h1 titles */
  --MAIN-TITLES-TEXT-color: rgba( 94, 94, 94, 1 ); /* text color of h2-h6 titles and transparent box titles */
  --MAIN-TITLES-H1-TEXT-color: rgba( 34, 34, 34, 1 ); /* text color of h1 titles */
  --CODE-theme: learn; /* name of the chroma stylesheet file */
  --CODE-BLOCK-color: rgba( 226, 228, 229, 1 ); /* fallback text color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BG-color: rgba( 40, 42, 54, 1 ); /* fallback background color of block code; should be adjusted to your selected chroma style */
  --CODE-BLOCK-BORDER-color: rgba( 40, 42, 54, 1 ); /* border color of block code */
  --CODE-INLINE-color: rgba( 94, 94, 94, 1 ); /* text color of inline code */
  --CODE-INLINE-BG-color: rgba( 255, 250, 233, 1 ); /* background color of inline code */
  --CODE-INLINE-BORDER-color: rgba( 248, 232, 200, 1 ); /* border color of inline code */
  --MENU-HEADER-color: rgba( 0, 0, 0, 1 ); /* color of menu header */
  --MENU-HEADER-BG-color: rgba( 227, 186, 143, 1 ); /* background color of menu header */
  --MENU-HEADER-BORDER-color: rgba( 227, 186, 143, 1 ); /* border color between menu header and menu */
  --MENU-SEARCH-color: rgba( 255, 255, 255, 1 ); /* text and icon color of search box */
  --MENU-VISITED-color: rgba( 227, 186, 143, 1 ); /* icon color of visited menu topics if configured */
}
